.cart-item-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  min-height: 30px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
}

.cart-item-wrapper .cart-item-information {
  position: relative;
  display: flex;
  margin-right: 20px;
  vertical-align: middle;
}

.cart-item-wrapper .cart-image-item {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  vertical-align: top;
}

.cart-item-wrapper .cart-item-info {
  vertical-align: middle;
  text-transform: capitalize;
  margin-right: 12px;
}

.cart-item-wrapper .cart-item-info .cart-item-title {
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  font-weight: 700;
}

.cart-item-wrapper .cart-item-info .cart-item-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.cart-item-wrapper .cart-price-block {
  display: inline-block;
  place-items: center;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 10px;
}

.cart-item-wrapper .cart-remove {
  display: inline-block;
  padding-left: 20px;
  border-left: 2px solid #cdcdcd;
}

.cart-item-wrapper .cart-remove .cart-remove-button {
  margin: 10px;
}

.cart-item-wrapper .cart-item-price {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}