.bookCardContainer {
  background-color: blueviolet;
  max-width: 20rem;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding: 5px;
  position: relative;
}
.bookCardHeader {
}
.bookCardDescription {
}
.BookAddicon {
  font-size: 32px;
  height: 40px;
}

.BookAddicon button {
  font-size: 32px;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: greenyellow;
  opacity: 0.8;
  color: white;
  transition: all 0.2s;
}
.BookAddicon button:enabled {
  cursor: pointer;
}
.BookAddicon button[disabled] {
  background: red;
  opacity: 0.5;
}
.BookAddicon button[disabled]:hover {
  cursor: not-allowed;
}

.BookAddicon button:hover:enabled {
  transform: scale(1.01);
  opacity: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
}
.bookCardContainer img {
  height: 100px;
  width: 200px;
}
:root{
  --toastify-toast-width: 500px;
}