.bookscontainer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.bookscontainer .loading {
  width: 100%;
  text-align: center;
}
.loadingContainer {
  margin: auto;
  transform: translateY(50%);
  /* border: 1px solid black; */
  /* display: block; */
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
