.bookscontainer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.bookscontainer .loading {
  width: 100%;
  text-align: center;
}
.loadingContainer {
  margin: auto;
  transform: translateY(50%);
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.loadingContainer .loadingText{
font-size: 32px;
font-weight: bold;
}
