.cartCardContainer {
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 30px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 700px;
}
.cardHero img {
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100px;
  width: 100px;
}
.cartCardDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgb(187, 178, 178);
  padding-right: 10px;
}
.cartCardDescription .description-Info {
  display: flex;
  flex-direction: column;
}
.BookRemoveicon {
  margin-left: 10px;
  background: rgb(240, 226, 226);
  /* border-radius: 8px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0.4;
  margin: auto;
  height: 100%;
  width: 100%;
}
.BookRemoveicon img {
  height: 20px;
  width: 20px;
}
.BookRemoveicon button {
  /* border-radius: 8px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0.4;
  padding: 0;
  height: 100%;
}

@media (max-width: 500px) {
  .cartCardContainer {
    display: flex;
    flex-direction: column;
  }
  .cartCardDescription {
    border-right: none;
  }
}
