
.CartPageContainer .cartEmpty {
  min-height: 70vh;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartPageContainer .CartTotal p{
    font-size: 32px;
}

.CartPageContainer .cartEmpty{
    font-size: 32px;
    font-weight: bold;
}