.cart-wrapper {
  margin: auto;
  margin-top: 60px;
  background-color: #efefef;
  width: 1200px;
  padding: 24px;
}

.cart-total {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  min-height: 30px;
}

.cart-total .cart-total-div {
  padding: 20px;
  border-right: 2px solid #cdcdcd;
  text-align: right;
  margin-right: 94px;
}

.cart-total .cart-total-price {
  text-align: right;
  margin-right: 0px;
}