.card-container {
  position: relative;
  border: 2px #bbbbbb solid;
  width: 200px;
  height: 220px;
  flex-direction: column;
  margin: 30px;
  justify-content: space-between;
}

.add-button {
  position: absolute;
  padding: 5px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.card-container p {
  font-size: 14px;
  padding-left: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.card-container h5 {
  display: flex;
  padding-left: 5px;
  margin: 0px;
  justify-content: left;
}

.card-container h6 {
  padding: 10px 0px 0px 5px;
  margin: 0px;
  justify-content: left;
  font-size: 12px;
}

.book-img {
  display: flex;
  position: relative;
  background-color: #e6e6e6;
  width: 200px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #bbbbbb solid;
}