.home-container {
    padding: 2rem 4rem;
}

.home-container h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}