table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-size: 1.3em;
}

.cart-page {
  padding: 36px;
}

.empty-cart {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: darkgreen;
}

.cart-total {
  padding: 60px;
  margin-right: 90px;
  font-size: xx-large;
  float: right;
}

.cart-total span {
  font-weight: 600;
  color: darkslategrey;
}