table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-size: 1.3em;
}

.cart-page {
  padding: 36px;
}
