body {
  margin: 0;
}

.book-card {
  border: 1px solid black;
  margin: 10px;
  font-size: 30px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.book-page {
  margin: 40px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.navbar {
  background: darkcyan;
    padding: 20px;
    font-size: 24px;
}

.book-page-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.book-card-img {
  background: aliceblue;
  padding: 26px;
}

.book-card-contents {
  line-height: 0px;
  padding: 0 24px;
}

.book-card-contents > p {
  padding: 0 0 12px;
  font-weight: 500;
  font-family: cursive;
}

.book-card-btn {
  padding: 0 10px 10px;
  float: right;
}