@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* NavBar */

.nav-bar {
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  column-gap: 30px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar h2 {
  font-size: 40px;
}
.nav-bag {
  display: flex;
  align-items: center;
}
