body {
  margin: 0;
}

.book-card {
  border: 1px solid black;
  margin: 10px;
  padding: 0 20px 20px;
  font-size: 30px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.book-page {
  margin: 40px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.navbar {
  background: darkcyan;
    padding: 20px;
    font-size: 24px;
}

.book-page-container-flex {
  display: flex;
  flex-wrap: wrap;
}

.book-card-img {
  background: aliceblue;
  padding: 26px;
}