button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px;
  font-size: 20px;
  font-family: inherit;
  background-color: cadetblue;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #7864ed;
}